* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease;
}

// text
$lightest-color: rgba(255, 255, 255, 0.8);
$light-color: #777777;
$medium-color: #999999;
$medium-color-disabled: #aaaaaa;

// bg, border
$main-darkest: rgba(34, 30, 24, 0.8);
$main-dark: #2e2a23;
$main-medium: rgba(0, 0, 0, 0.2);
$main-light: #27241e;
$main-lightest: rgba(255, 255, 255, 0.051);

$editor-lightest: #efefef;
$editor-light: #dddddd;
// $editor-dark: ;

html {
  font-size: 10px;
  color: $lightest-color;
}
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header", "main", "footer";
  margin: auto;
  overflow-x: hidden;

  font-size: 1.6rem;
  // font-family: 'Courier New', Courier, monospace;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: $main-dark;
}
.wrapper {
  max-width: 500px;
  margin: auto;
}

a,
.link {
  text-decoration: none;
  color: inherit;
}

// .nav {
// }
// Header Start
header {
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: $main-darkest;
  z-index: 10;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-right: 1rem;
}
.logo__img,
.logo__title {
  display: inline-block;
  margin: auto 0;
}
.logo__title {
  margin-left: 0.5rem;
  font-style: italic;
}
.header__nav {
  margin-top: 0.6rem;
  margin-right: 1rem;
}
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;

  // padding: 0;
  // margin: 0;
  width: 34rem;
}
.nav__item {
  display: inline-block;
}
// .levels__block {
// }
// .level--current {
// }
.level {
  font-size: 2rem;
}
// .level--total {
// }
.check-mark {
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  margin-left: 1rem;

  border-right: solid 3px $lightest-color;
  border-bottom: solid 3px $lightest-color;

  transform: rotate(40deg);
}
.levels-control {
  margin-top: 0.4rem;
}
.arrow {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;

  border-top: 2px solid $lightest-color;
  border-left: 2px solid $lightest-color;
}
.arrow-left {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(135deg);
}
.level-theory {
  display: inline-block;
  height: 2.2rem;
  width: 2.2rem;

  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  border: 1px solid $lightest-color;
}
// .burger {
// }
// .icon {
// }
// .burger__icon {
// }
// .levels-list {
// }
// Header End

// Main Start
main {
  grid-template: main;
  // height: calc(100vh - 4.5rem);
  .wrapper {
    // height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.order {
  font-weight: 100;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.8rem;
  text-align: center;

  margin: 1rem auto;
}
.help {
  display: none;
}
.btn--help {
  background-color: $main-medium;
  margin: 1rem auto;
}
.btn {
  display: inline-block;
  width: max-content;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}
// .help-btn--light {
// }
.show-box {
  position: relative;
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 3fr 0.3fr;
    width: 500px;
    height: 44.5rem;

    background-color: rgb(50, 28, 179);
    background-image: url("../assets/table.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 0px solid transparent;
    border-radius: 4rem 4rem 0 0;

    glass {
      grid-row: 2/3;
      display: inline-block;
      height: 14rem;
      width: 10rem;
      margin: auto;

      background-image: url("../assets/empty_glass.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: none;

      animation: dance 2s linear infinite;
    }
    glass:hover {
      outline: 3px dashed rgba(255, 0, 0, 0.651);
      transition: none;
    }
  }
}
// .tags-show {
//   // position: absolute;
//   // top: 0;
//   // left: 0;
// }

.tag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 246, 235, 0.9);
  color: #3a2e1a;
  font-size: 1.7rem;
  // font-weight: 700;
  padding: 1rem;
  border: 1px solid rgba(255, 246, 235, 0.9);
  border-radius: 0.4rem;
}

.tag:nth-of-type(1) {
  top: 18rem;
}
.tag:nth-of-type(2) {
  top: 39rem;
  left: 15rem;
}
.tag:nth-of-type(3) {
  top: 18rem;
  left: unset;
  right: 0;
}

// Editors
.editors {
  font-family: menlo, monospace;
  // height: 50rem;
  width: 100%;
  background-color: $main-darkest;
  padding: 1rem;
}
.css-editor {
  border: solid 1px $main-lightest;
  background-color: $main-light;
}
.title {
  font-weight: 300;
}
.file-window {
  display: grid;
  grid-template-columns: 3.6rem 11fr 3fr;
  grid-template-rows: 3.2rem repeat(19, 2.1rem);

  border: solid 1px $main-lightest;
  // padding-top: 1rem;

  background-color: #efefef;
  color: #aaaaaa;
}
.line-numbers {
  grid-row: 1 / 21;
  width: 3.6rem;
  padding: 0.9rem 1rem 0 0.5rem;
  // margin: 0 1rem 0 0;

  word-wrap: break-word;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: right;
  border: solid 1px $main-lightest;

  background-color: $editor-light;
  color: #999999;
}
.css-input {
  grid-row: 1/2;
  background-color: $editor-lightest;
  border: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
  // padding-top: 0.5rem;
  animation: strobe 850ms linear infinite;
}

.css-input:active, .css-input:focus {
  outline: none;
  background-color: $editor-lightest;
  animation: none;
}

.btn--enter {
  grid-row: 1/2;
  grid-column: 3/4;
  padding: 0 1rem 0;
  margin-top: 0.5rem;
  
  background: #ddd;
  padding: 2px 7px 2px 7px;
  font-size: 1.2rem;
  color: #666;
  border: solid 3px #999;
  border-radius: 2px;
  border-width: 1px 1px 6px 1px;
}

.btn--enter:active {
  margin-top: 1rem;
  // height: 22px;
  border-width: 1px 1px 1px 1px;
}

.task-reminder-text {
  grid-row: 2/9;
  grid-column: 2/3;

  line-height: 2.1rem;
  text-align: left;
  margin-left: 1rem;
  // margin-top: -0.2rem;
}
.html-viewer {
  .line-numbers {
    background-color: #201d18;
    color: $light-color;
  }
  .file-window {
    background-color: #201d18;
    color: $light-color;
  }
}
.markup {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  line-height: 2.1rem;

  cursor: default;
}
.markup > div {
  padding-left: 1rem;
}

.markup > div:hover {
  color: $medium-color;
  transition: all 150ms ease;
}

// Main End

// Footer Start
footer {
  //  grid-template: footer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;

  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.302);
}

// .social {
// }
.social-block {
  padding: 1rem;
}
// .social__list {
// }
.social__item {
  display: inline-block;
  margin: 0 0 0 1rem;
}
.social__link,
.copyright__link {
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  padding: 1rem;
}

// Footer End

@media (min-width: 550px) {
  .wrapper {
    max-width: unset;
  }
  header {
    height: 6rem;
    padding: 1rem 1rem 0.5rem;
  }
  .show-box {
    margin-bottom: 1rem;
  }
}

@media (min-width: 701px) {
  .editors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1268px) {
  .wrapper {
    max-width: 1260px;
  }
}

@keyframes dance {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(-5deg);
  }
  50% {
    transform: skew(0deg);
  }
  75% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes strobe {
  0% {
    background-color: $editor-lightest;
  }

  50% {
    background-color: rgba(142, 221, 252, 0.55);
  }

  100% {
    background-color: $editor-lightest;
  }
}