* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease;
}

// text
$lightest-color: rgba(255, 255, 255, 0.8);
$light-color: #999999;
$medium-color: #777777;
$medium-color-disabled: #aaaaaa;
$dark-color: #666;

// bg, border
$main-darkest: rgba(34, 30, 24, 0.8);
$main-dark: #2e2a23;
$main-medium: rgba(0, 0, 0, 0.2);
$main-light: #27241e;
$main-lightest: rgba(255, 255, 255, 0.051);

$editor-lightest: #efefef;
$editor-light: #dddddd;
// $editor-dark: ;

html {
  font-size: 10px;
  color: $lightest-color;
  scroll-behavior: smooth;
}
body {
  // position: relative !important;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header", "main", "footer";
  margin: auto;
  // overflow-x: hidden !important;

  font-size: 1.6rem;
  // font-family: 'Courier New', Courier, monospace;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: $main-dark;
}

.extra-wrapper {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: 100vh;
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

a,
.link {
  text-decoration: none;
  color: inherit;
}

// .nav {
// }
// Header Start
header {
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: $main-darkest;
  z-index: 10;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-right: 1rem;
}
.logo__img,
.logo__title {
  display: inline-block;
  margin: auto 0;
}
.logo__title {
  margin-left: 0.5rem;
  font-style: italic;
}
.header__nav {
  margin-top: 0.6rem;
  margin-right: 1rem;
}
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;

  // padding: 0;
  // margin: 0;
  width: 34rem;
}
.nav__item {
  display: inline-block;
}
// .levels__block {
// }
// .level--current {
// }
.level {
  font-size: 2rem;
}
// .level--total {
// }
.check-mark {
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  margin-left: 1rem;

  border-right: solid 3px $lightest-color;
  border-bottom: solid 3px $lightest-color;

  transform: rotate(40deg);
}
.levels-control {
  margin-top: 0.4rem;
}
.arrow {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;

  border-top: 2px solid $lightest-color;
  border-left: 2px solid $lightest-color;

  &:hover {
    opacity: 0.5;
  }
}
.arrow-left {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(135deg);
}
.level-theory {
  display: inline-block;
  height: 2.2rem;
  width: 2.2rem;

  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  border: 1px solid $lightest-color;
}
// .burger {
// }
// .icon {
// }
// .burger__icon {
// }
// .levels-list {
// }
// Header End

// Aside levels Start

aside.levels {
  display: flex;
  flex-direction: column;
  // justify-content: stretch;
  // justify-items: start;
  align-items: flex-start;
  align-content: center;

  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(101%);
  min-width: 37rem;
  height: 100vh;
  
  border: 0px solid transparent;
  // border-radius: 0 0 0 2rem;
  background-color: rgb(22, 20, 16);
  // box-shadow: 1px 0 10px 3px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);

  z-index: 20;

  &.open {
    transform: translateX(0%);
  }

  .levels__block {
    // display: none;
    font-size: 2.2rem;
    padding: 1rem 1rem 1rem 2rem;

    .icon--close {
      height: 2.5rem;
      width: 2.5rem;
      fill:rgba(255, 255, 255, 0.8);
      margin-left: 10rem;
      cursor: pointer;
      transition: all 300ms linear;

      &:hover {
        fill: rgba(255, 255, 255, 0.5);
      }
      &.rotate {
        transform: rotate(180deg);
        transition: transform 300ms linear;
      }
    }

    * {
      transition: all 200ms ease;
    }
  }

  .levels__list {
    width: 100%;
    list-style: none;
    color: $medium-color;

   
    
  }
  .progress-bar {
    height: 3px;
    background-color: green;
    width: 0%;
  }
  .level__item {
    width: 100%;
    padding: 0.7rem 1.2rem 0.5rem 1.5rem;
    
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: $main-dark;
      color: rgba(255, 255, 255, 0.8);
    }

    &:hover .check-mark--mini {
      opacity: 0.6;
    } 
  }
  .check-mark--mini {
    height: 1.5rem;
    width: 0.7rem;

    margin-right: 1rem;
    opacity: 0.2;
  }
  .level__number {
    display: inline-block;
    width: 1.7rem;
    opacity: 0.6;
  }
  .level__name {
    margin-left: 1rem;
  }

  .reset-progress {
    align-self: center;

    margin: 3rem 0 4rem 0;

    border: 2px solid $medium-color;
    background-color: $main-light;

    &:hover {
      background-color: darkred;
      border-color: rgb(189, 39, 39);
    }
  }


}
// Aside levels End




// Main Start
main {
  grid-template: main;
  // height: calc(100vh - 4.5rem);
  .wrapper {
    // height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.order {
  font-weight: 100;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.8rem;
  text-align: center;

  margin: 1rem auto;
}
.help {
  display: none;
}
.btn--help {
  background-color: $main-medium;
  margin: 1rem auto;
}
.btn {
  display: inline-block;
  width: max-content;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}
// .help-btn--light {
// }
.show-box {
  position: relative;
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 3fr 0.3fr;
    width: 500px;
    height: 44.5rem;

    background-color: rgb(50, 28, 179);
    background-image: url("../assets/table.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 0px solid transparent;
    border-radius: 4rem 4rem 0 0;

    * {
      grid-row: 2/3;
      display: inline-block;
      position: relative;
      height: 14rem;
      width: 10rem;
      margin: auto;

      background-image: url("../assets/empty_glass.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: none;
    }
    *.correct {
      animation: dance 2s linear infinite;
    }
    *.hover {
      outline: 3px dashed rgba(255, 0, 0, 0.651);
      transition: none;
    }

    *:hover::after {
      content: attr(data-title);
      position: absolute; 
      left: -6rem; 
      right: 0; 
      bottom: -4.5rem; 
      z-index: 1; 
      width: 20rem;
      padding: 1rem;      

      background: lightgoldenrodyellow; 
      color: $main-dark;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px; /* Размер текста подсказки */
    }
  }
}

.flyAway {
  animation: flyAway 1s linear;
}

.wrong {
  animation: wrong 1s linear;
}
// .tags-show {
//   // position: absolute;
//   // top: 0;
//   // left: 0;
// }

.tag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 246, 235, 0.9);
  color: #3a2e1a;
  font-size: 1.7rem;
  // font-weight: 700;
  padding: 1rem;
  border: 1px solid rgba(255, 246, 235, 0.9);
  border-radius: 0.4rem;

  &.hover {
    display: block;
  }
}

.tag:nth-of-type(1) {
  top: 18rem;
}
.tag:nth-of-type(2) {
  top: 39rem;
  left: 15rem;
}
.tag:nth-of-type(3) {
  top: 18rem;
  left: unset;
  right: 0;
}

// Editors
.editors {
  font-family: menlo, monospace;
  // height: 50rem;
  width: 100%;
  background-color: $main-darkest;
  padding: 1rem;
}
.css-editor {
  border: solid 1px $main-lightest;
  background-color: $main-light;
}
.title {
  font-weight: 300;
}
.file-window {
  position: relative;
  display: grid;
  grid-template-columns: 3.6rem 11fr 3fr;
  grid-template-rows: 3.2rem repeat(19, 2.1rem);

  border: solid 1px $main-lightest;
  // padding-top: 1rem;

  background-color: #efefef;
  color: #aaaaaa;
}
.wrong {
  animation: wrong 800ms linear;
}
.line-numbers {
  grid-row: 1 / 21;
  width: 3.6rem;
  padding: 0.9rem 1rem 0 0.5rem;
  // margin: 0 1rem 0 0;

  word-wrap: break-word;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: right;
  border: solid 1px $main-lightest;

  background-color: $editor-light;
  color: #999999;
}
.css-input {
  grid-row: 1/2;
  // background-color: $editor-lightest;
  background-color:  #efefef6e;
  margin-left: 1rem;
  margin-top: 0.5rem;

  border: none;
  
  font-family: Consolas, "Courier New", monospace;
  font-size: 1.4rem;
  z-index: 10;
  // color: transparent;
  // opacity: 0.2;
  color:  #585858c2;

  // animation: strobe 850ms linear infinite;
}
#inputColor {
  position: absolute;
  // grid-row: 1/2;
  top: 1rem;
  left: 4.6rem;
  // margin-left: 4.7rem;
  // margin-top: 0.5rem;
  width: 15rem;
  height: 2.1rem;

  font-family: Consolas, "Courier New", monospace;
  font-size: 1.4rem;
  // font-weight: bolder;
  z-index: 1;
}

.css-input:active, .css-input:focus {
  outline: none;
  background-color: $editor-lightest;
  animation: none;
  opacity: 1 !important;
}

.btn--enter {
  grid-row: 1/2;
  grid-column: 3/4;
  padding: 0 1rem 0;
  margin-top: 0.5rem;
  
  background: #ddd;
  padding: 2px 7px 2px 7px;
  font-size: 1.2rem;
  color: #666;
  border: solid 3px #999;
  border-radius: 2px;
  border-width: 1px 1px 6px 1px;
}

.btn--enter:active {
  margin-top: 1rem;
  // height: 22px;
  border-width: 1px 1px 1px 1px;
}

.task-reminder-text {
  grid-row: 2/9;
  grid-column: 2/3;

  line-height: 2.1rem;
  text-align: left;
  margin-left: 1rem;
  // margin-top: -0.2rem;
}
.html-viewer {
  .line-numbers {
    background-color: #201d18;
    color: $medium-color;
  }
  .file-window {
    // position: relative;
    background-color: #201d18;
    color: $medium-color;

    #colorMarkup {
      position: absolute;
      top: 0rem;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: fit-content;

      padding-left: 1rem;
      padding-top: 1rem;
      margin-left: 4.6rem;
      // width: 500px;
      // height: 500px;
      line-height: 2.1rem;   

      >span:first-of-type, >span:last-of-type {
        margin-left: -1rem;
      }
    }
  }
}
.markup {
  display: flex;
  flex-direction: column;
  height: fit-content;

  padding-left: 1rem;
  padding-top: 1rem;

  font-family: Consolas, "Courier New", monospace;
  line-height: 2.1rem;
  color: transparent;

  cursor: default;
  z-index: 10;
}
.markup > * {
  padding-left: 1rem;
}

.markup > *.hover {
  // color: rgb(255, 255, 255);
  // opacity: 0.6;
  color: black;
  opacity: 0.5;
  transition: all 150ms ease;
}


// Main End

// Footer Start
footer {
  //  grid-template: footer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;

  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.302);
}

// .social {
// }
.social-block {
  padding: 1rem;
}
// .social__list {
// }
.social__item {
  display: inline-block;
  margin: 0 0 0 1rem;
}
.social__link,
.copyright__link {
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  padding: 1rem;
}

// Footer End

@media (min-width: 550px) {
  .wrapper {
    max-width: unset;
  }
  header {
    height: 6rem;
    padding: 1rem 1rem 0.5rem;
  }
  .show-box {
    margin-bottom: 1rem;
  }
}

@media (min-width: 701px) {
  .editors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    // margin: auto;
  }
}

@media (min-width: 1268px) {
  .wrapper{
    max-width: 1260px;
  }
  footer {
    width: 1260px;
    margin: 0 auto;
  }
}

@keyframes dance {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(-5deg);
  }
  50% {
    transform: skew(0deg);
  }
  75% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes strobe {
  0% {
    background-color: $editor-lightest;
  }

  50% {
    background-color: rgba(142, 221, 252, 0.55);
  }

  100% {
    background-color: $editor-lightest;
  }
}

@keyframes flyAway {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(0.5) translateY(-30rem);
  }

  100% {
    transform: scale(0) translateY(-80rem);
  }
}

@keyframes wrong {
  0% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
  25% {
    transform: skew(-0.5deg);
    background-color: red;
    outline: 3px solid #efefef;
  }
  50% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
  75% {
    transform: skew(0.5deg);
    background-color: red;
    outline: 3px solid #efefef;
  }
  100% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
}