* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 350ms ease;
}

// text (not edit)
// $lightest-color: rgba(255, 255, 255, 0.8);
$lightest-color: #f9f6ef;
$light-color: #5d6e4a;
$medium-color: #66848d;
$medium-color-disabled: #aaaaaa;
$dark-color: #666;

// bg, border
$main-darkest:  #04272d;  // don't use
$main-dark: #04272dbe;
$main-medium: #1a6070;
$main-light: #402420;
// border
$main-lightest: #967864;


// light-editor only
$editor-lightest: #efefef;
$editor-light: #dddddd;
// $editor-dark: ;

html {
  font-size: 10px;
  color: $lightest-color;
  scroll-behavior: smooth;
}
body {
  // position: relative !important;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header", "main", "footer";
  margin: auto;

  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: $main-medium;
}

.extra-wrapper {
  position: relative;
  overflow-x: hidden;
  width: inherit;
  // height: 100vh;
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

a,
.link {
  text-decoration: none;
  color: inherit;
}

// Header Start
header {
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: $main-dark;
  z-index: 10;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin-right: 1rem;
}
.logo__img,
.logo__title {
  display: inline-block;
  margin: auto 0;
}
.logo__title {
  margin-left: 0.5rem;
  font-style: italic;
}
.header__nav {
  margin-top: 0.6rem;
  margin-right: 1rem;
}
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  width: 34rem;
}
.nav__item {
  display: inline-block;
}
.level--current {

  display: inline-block;
  font-weight: 700;

  background: gold;
  // -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient 4s linear infinite;
}
.level {
  display: inline-block;
  width: 2.5rem;

  font-size: 2rem;
  text-align: center;
}

.check-mark {
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  margin-left: 1rem;

  border-right: solid 3px $lightest-color;
  border-bottom: solid 3px $lightest-color;

  transform: rotate(40deg);
}
.levels-control {
  margin-top: 0.4rem;
}
.arrow {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;

  border-top: 2px solid $lightest-color;
  border-left: 2px solid $lightest-color;

  &:hover {
    opacity: 0.5;
  }
}
.arrow-left {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(135deg);
}
.level-theory {
  display: inline-block;
  height: 2.2rem;
  width: 2.2rem;

  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  border: 1px solid $lightest-color;

  &:hover {
    opacity: 0.5;
  }
  &.turn-on {
    box-shadow: 0 0 2px 1px rgba(248, 248, 132, 0.9);
    opacity: 1;
    &:hover {
      box-shadow: none;
    }
  }
}

// Aside levels Start

aside.levels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;

  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(101%);
  width: 37rem;
  height: 100%;

  border: 0px solid transparent;
  background-color: $main-darkest;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

  z-index: 21;

  &.open {
    transform: translateX(0%);
  }

  .levels__title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 1rem 1rem 1rem 2rem;

    font-size: 2.2rem;

    .icon--close {
      height: 2.5rem;
      width: 2.5rem;
      // margin-left: 10rem;

      fill: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      transition: all 300ms linear;

      &:hover {
        fill: rgba(255, 255, 255, 0.5);
      }
      &.rotate {
        transform: rotate(180deg);
        transition: transform 300ms linear;
      }
    }

    * {
      transition: all 200ms ease;
    }
  }

  .theory__block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 1rem 1rem 1rem 2rem;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 2.2rem;

    background-color: $main-darkest;
    // background-color: green;
    opacity: 1;
    z-index: 20;

    .title__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // text-align: center;
    }
    .theory__title {
      text-align: center;
      margin: 1rem 0 1.5rem;
      color: $light-color;

    }
    .theory__main-text {
      font-size: 1.6rem;
      line-height: 140%;
      text-align: justify;
      padding-right: 2rem;
      &:hover {
        color: $lightest-color;
      }
    }

    .theory__examples p {
      font-size: 1.6rem;
      line-height: 140%;
      text-align: justify;
      padding-right: 2rem;
      margin-bottom: 2rem;
      code {
        font-family: Consolas, "Courier New", monospace;
        background-color: black;
      }
    }
    .examples__title {
      text-align: left;
      margin: 1rem 0 1.5rem;
      color: $light-color;
    }
    &.hide {
      display: none;
    }
  }

  .levels__list {
    position: relative;
    width: 100%;
    list-style: none;
    color: $medium-color;
  }
  .progress-bar {
    height: 3px;
    background-color: green;
    width: 0%;
  }
  .level__item {
    width: 100%;
    padding: 0.7rem 1.2rem 0.5rem 1.5rem;

    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: $main-medium;
      color: rgba(255, 255, 255, 0.8);
    }

    &:hover .check-mark--mini {
      opacity: 0.6;
    }
    &.hover {
      background: rgb(17, 47, 9);
      background: linear-gradient(90deg, $main-darkest 20%, #5d6e4a 100%);
    }
    &:hover .solved.check-mark--mini,
    &:hover .cheat.check-mark--mini {
      opacity: 1;
    }
  }
  .check-mark--mini {
    height: 1.5rem;
    width: 0.7rem;

    margin-right: 1rem;
    opacity: 0.2;

    &.cheat {
      border-color: rgba(255, 255, 0, 0.9);
      opacity: 0.9;
    }
    &.solved {
      border-color: rgb(71, 255, 47);
      opacity: 0.9;
    }
  }
  .level__number {
    display: inline-block;
    width: 1.7rem;
    opacity: 0.6;
  }
  .level__name {
    margin-left: 1rem;
  }

  .reset-progress {
    margin: 3rem 0 4rem 0;
    padding: 1rem 2rem;
    border: 2px solid $medium-color;
    
    font-size: 1.8rem;
    align-self: center;
    color: $main-darkest;

    background-color: $medium-color;

    cursor: pointer;

    &:hover {
      background-color: darkred;
      border-color: rgb(189, 39, 39);
      color: $lightest-color;
    }
  }
}
// Aside levels End

// Main Start
main {
  grid-template: main;
  // height: calc(100vh - 4.5rem);
  .wrapper {
    // height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.order {
  height: 5rem;
  margin: 0rem auto;

  font-weight: 100;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.8rem;
  text-align: center;

}



.btn {
  display: inline-block;
  width: max-content;
  margin: 0.5rem auto 0;
  padding: 2px 7px 2px 7px;

  border: solid 3px #81605f;
  border-width: 1px 1px 6px 1px;
  border-radius: 2.5rem;


  font-size: 1.2rem;
  color: #666;
  background: #96786454;

  &:active {
    margin-top: 1rem;
    border-width: 1px 1px 1px 1px;
  }
}
.btn--help {
  grid-row: 3/5;
  grid-column: 3/4;

  font-weight: 700;
  line-height: 2.5rem;

  color: $lightest-color;
  background-color: rgb(177, 75, 75);
  border-color: rgb(102, 43, 43);
}
.show-box {
  position: relative;
  width: 500px;
  height: 32.5rem;
  .table {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 3fr 0.3fr;
    width: 500px;
    height: 32.5rem;
    z-index: 20;

    background-image: url("../assets/imgs/table_mini.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 0px solid transparent;
    border-radius: 5rem 5rem 0 0;

    * {
      grid-row: 2/3;
      display: inline-block;
      position: relative;
      height: 14rem;
      width: 10rem;
      margin: auto;

      background-image: url("../assets/imgs/empty_glass.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: none;
    }
    *.correct {
      animation: dance 1400ms linear infinite;
    }
    *.hover {
      outline: 3px dashed rgba(255, 0, 0, 0.651);
      transition: none;
    }

    *.hover::after {
      content: attr(data-title);
      position: absolute;
      top: -4rem;
      z-index: 1;
      padding: 1rem;

      display: block;
      width: fit-content;
      white-space: nowrap;

      background: lightgoldenrodyellow;
      color: $dark-color;
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      font-size: 14px; /* Размер текста подсказки */
    }
  }

  .win-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .win-text {
    position: relative;
    padding: 3rem 2rem 2rem;

    font-family: "Montserrat", cursive;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    color: $lightest-color;

    opacity: 0;
    transform: translateY(-600px);
    z-index: 26;
    &.show {
      animation: 1.2s slideIn ease-in-out forwards 1s;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;

    border: 0px solid rgba(0, 0, 0, 0.6);
    // background-color: rgb(0, 0, 0);
    background-color: #2faac6;

    transform: scale(0.5);

    z-index: 10;
    &.show {
      animation: 0.5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
      z-index: 25;
    }
  }
  #winText__icon--close {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    transform: translateY(-600px);

    height: 3rem;
    width: 3rem;

    fill: $lightest-color;
    z-index: 15;

    cursor: pointer;
    transition: fill 150ms linear;
    &:hover {
      fill: $light-color;
      transition: fill 150ms linear;
    }
    &.show{
      animation: 1.2s slideIn ease-in-out forwards 1s;
      z-index: 35;
    }
  }
}

.flyAway {
  animation: flyAway 1s linear;
}

.wrong {
  animation: wrong 1s linear;
}

.tag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 246, 235, 0.9);
  color: #3a2e1a;
  font-size: 1.7rem;
  // font-weight: 700;
  padding: 1rem;
  border: 1px solid rgba(255, 246, 235, 0.9);
  border-radius: 0.4rem;

  &.hover {
    display: block;
  }
}

.tag:nth-of-type(1) {
  top: 18rem;
}
.tag:nth-of-type(2) {
  top: 39rem;
  left: 15rem;
}
.tag:nth-of-type(3) {
  top: 18rem;
  left: unset;
  right: 0;
}

// Editors
.editors {
  font-family: menlo, monospace;
  // height: 50rem;
  width: 100%;
  background-color: $main-dark;
  padding: 1rem;
}
.css-editor {
  border: solid 1px $main-lightest;
  background-color: $main-light;
}
.title {
  font-weight: 300;
  padding-left: 3.6rem;
}
.file-window {
  position: relative;
  display: grid;
  grid-template-columns: 3.6rem 11fr 3fr;
  grid-template-rows: 3.2rem repeat(11, 2.1rem);
  // grid-template-rows: 3.2rem repeat(19, 2.1rem);

  border: solid 1px $main-lightest;
  border-left: 0;
  border-right: 0;

  background-color: #efefef;
  color: #aaaaaa;
}
.wrong {
  animation: wrong 800ms linear;
}
.line-numbers {
  grid-row: 1 / 21;
  width: 3.6rem;
  padding: 0.9rem 1rem 0 0.5rem;
  // margin: 0 1rem 0 0;

  word-wrap: break-word;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: right;
  border: solid 1px $main-lightest;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;

  background-color: $editor-light;
  color: #999999;
}
.css-input {
  grid-row: 1/2;
  // background-color: $editor-lightest;
  background-color: #efefef6e;
  margin-left: 1rem;
  margin-top: 0.5rem;

  border: none;

  font-family: Consolas, "Courier New", monospace;
  font-size: 1.4rem;
  z-index: 10;
  color: #585858c2;

  animation: strobe 850ms linear infinite;
}
#inputColor {
  position: absolute;
  // top: 1rem;
  // left: 4.6rem;
  top: 0.3rem;
  left: 3.9rem;
  min-width: 20rem;
  height: 3.1rem;

  font-family: Consolas, "Courier New", monospace;
  font-size: 1.4rem;
  background-color: transparent;
  z-index: 1;
}

.css-input:active,
.css-input:focus {
  outline: none;
  background-color: $editor-lightest;
  animation: none;
  opacity: 1 !important;
}

.btn--enter {
  grid-row: 1/2;
  grid-column: 3/4;
}

.task-reminder-text {
  grid-row: 2/9;
  grid-column: 2/3;

  line-height: 2.1rem;
  text-align: left;
  margin-left: 1rem;
}
.html-viewer {
  border: solid 1px $main-lightest;
  background-color: $main-light;
  .line-numbers {
    background-color: #201d18;
    color: $medium-color;
  }
  .file-window {
    background-color: #201d18;
    color: $medium-color;

    #colorMarkup {
      position: absolute;
      top: 0rem;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: fit-content;

      padding-left: 1rem;
      padding-top: 1rem;
      margin-left: 4.6rem;
      line-height: 2.1rem;

      > span:first-of-type,
      > span:last-of-type {
        margin-left: -1rem;
      }
    }
  }
}
.markup {
  display: flex;
  flex-direction: column;
  height: fit-content;

  padding-left: 1rem;
  padding-top: 1rem;

  font-family: Consolas, "Courier New", monospace;
  line-height: 2.1rem;
  color: transparent;

  cursor: default;
  z-index: 10;
}
.markup > * {
  padding-left: 1rem;
}

.markup *.hover {
  // color: rgb(255, 255, 255);
  // opacity: 0.6;
  color: black;
  opacity: 0.5;
  transition: all 150ms ease;
}

// Main End

// Footer Start
footer {
  //  grid-template: footer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;

  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.302);
}

.social-block {
  padding: 0 1rem;
}
// .social__list {
// }
.social__item {
  display: inline-block;
  margin: 0 0 0 1rem;
}
.social__link,
.copyright__link {
  color: rgba(255, 255, 255, 0.5);
}

.copyright {
  padding: 0 1rem;
}

// Footer End

// styles for js-element
.table > napkin,
tray {
  display: flex !important;
}

.table > shot,
.table > chocolate,
.table > coffee {
  // max-width: 7rem;
  background-position: bottom;
}
// .table > coffee {
//   background-position: bottom !important;
// }

.markup > napkin,
tray,
#colorMarkup {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

espresso,
shot,
beer,
glass {
  display: block;
}

napkin > *,
tray > * {
  margin-left: 1rem;
}

napkin > span,
tray > span {
  margin-left: 0;
}

.show-box .table {
  napkin {
    background-image: url("../assets/imgs/napkin.png");
    background-position: bottom;
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;

    text-align: center;

    espresso {
      background-position: top;
    }
    shot {
      height: 5rem;
      width: 6rem;
      margin: 2rem;
      margin-top: 5rem;
    }
    // beer {
    //   // height: 8.5rem;
    // }
    glass {
      margin-top: 0rem;
      height: 9rem;
    }
  }
  glass.milk {
    background-image: url("../assets/imgs/glass_milk.png");
  }
  glass.ice-tea {
    background-image: url("../assets/imgs/glass_ice_tea.png");
    width: 8rem;
  }
  glass.pure-water {
    background-image: url("../assets/imgs/glass_water.png");
  }
  glass.water_with_lemon {
    background-image: url("../assets/imgs/glass_water_with_lemon.png");
    height: 10.2rem;
  }
  glass.dirty {
    background-image: url("../assets/imgs/glass_dirty.png");
  }
  glass.broken {
    background-image: url("../assets/imgs/glass_broken.png");
    height: 10.2rem;
  }
  glass.empty {
    width: 8rem;
  }
  glass.nasty {
    background-image: url("../assets/imgs/glass_nasty.png");
    height: 10.2rem;
  }
  wine {
    background-image: url("../assets/imgs/wine_red.png");
  }
  wine.white {
    background-image: url("../assets/imgs/wine_white.png");
  }
  wine.white.bubble {
    background-image: url("../assets/imgs/wine_white_bubble.png");
  }
  wine#y-1905 {
    background-image: url("../assets/imgs/wine_1905.png");
  }
  wine#y-2020 {
    background-image: url("../assets/imgs/wine_2020.png");
  }
  coffee {
    background-image: url("../assets/imgs/coffee.png");
  }
  espresso {
    margin-bottom: 6rem;
    height: 4rem;
    width: 8rem;
    background-image: url("../assets/imgs/espresso.png");
  }
  juice {
    background-image: url("../assets/imgs/juice.png");
  }
  juice.fresh {
    background-image: url("../assets/imgs/juice_fresh.png");
  }
  beer {
    background-image: url("../assets/imgs/beer.png");
    // width: 8rem;
  }
  beer.light {
    background-image: url("../assets/imgs/beer_light.png");
    width: 8rem;
  }
  beer.dark {
    background-image: url("../assets/imgs/beer_dark.png");
    width: 8rem;
  }
  shot {
    background-image: url("../assets/imgs/shot_b-52.png");
  }
  shot.got-milk,
  shot.white {
    background-image: url("../assets/imgs/shot_milk.png");
  }
  shot.lime {
    background-image: url("../assets/imgs/shot_lime.png");
  }
  shot.brain-blowing {
    background-image: url("../assets/imgs/shot_brain.png");
    background-position: bottom;
    width: 6rem;
    margin-bottom: 1rem;
  }
  cocktail {
    background-image: url("../assets/imgs/cocktail.png");
    height: 18rem;
    background-size: cover;
  }
  cocktail.yesterday {
    background-image: url("../assets/imgs/cocktail_yesterday.png");
    background-size: contain;
  }
  cocktail.today {
    background-image: url("../assets/imgs/cocktail_today.png");
    background-size: contain;
  }
  cocktail.tomorrow {
    background-image: url("../assets/imgs/cocktail_tomorrow.png");
    background-size: contain;
  }
  cake[for="me"] {
    background-image: url("../assets/imgs/cake_2.png");
    height: 14rem;
    margin-bottom: 4rem;
    // width: 12rem;
  }
  cake[for="you"] {
    // background-image: url("../assets/imgs/cake.png");
    background-image: url("../assets/imgs/ugly_cake.png");
    width: 12rem;
    margin-bottom: 3rem;
  }
  garlic {
    background-image: url("../assets/imgs/garlic.png");
    background-position: bottom;
    height: 12rem;
    width: 6rem;
    &.hover::after { z-index: 200; }
  }
  peanut {
    background-image: url("../assets/imgs/peanut.png");
    background-position: top;
    height: 4rem;
  }
  cake {
    background-image: url("../assets/imgs/cake.png");
    height: 10rem;
  }
  bug {
    background-image: url("../assets/imgs/bug.png");
    background-position: top;
    height: 8rem;
  }
  chocolate {
    background-image: url("../assets/imgs/chocolate.png");
    background-position: bottom;
    width: 8rem;
  }
}

.show-box .table tray {
  grid-row: 2/4;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;

  min-width: 25rem;
  height: 18rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;

  background-image: url("../assets/imgs/tray2.png");
  background-position: bottom;

  &#yours {background-image: url("../assets/imgs/tray_yours.png");}
  &#mine {background-image: url("../assets/imgs/tray_mine.png");}

  > * {
    margin: 0 auto;
  }
  espresso {
    background-position: top;
    margin: 0;
  }
  shot {
    height: 6rem;
  }
  shot:nth-of-type(1),
  shot:nth-of-type(2) {
    margin-top: 3rem;
  }
  coffee,
  juice {
    margin-bottom: 1rem;
    height: unset;
  }
  beer {
    height: unset;
  }
}

.show-box .table napkin > * {
  background-position: top;
}

@media (min-width: 550px) {
  .wrapper {
    max-width: unset;
  }
  header {
    height: 6rem;
    padding: 1rem 1rem 0.5rem;
  }
  // .show-box {
  //   margin-bottom: 1rem;
  // }
}

@media (min-width: 550px) and (min-height: 769px) {
    .show-box {
    margin-bottom: 1rem;
  }
  .social-block, .copyright {
    padding: 1rem;
  }
}

@media (min-width: 701px) {
  .editors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

}



@media (min-width: 1268px) {
  .wrapper {
    max-width: 1260px;
  }
  footer {
    width: 1260px;
    margin: 0 auto;
  }
  .order {
    height: unset;
  }
  .show-box .table {
    background-image: url('../assets/imgs/table_medium.png');
  }
  .show-box,  .show-box .table {
    height: 39rem;
  }
}

@media (min-height: 769px) {
  html {
    font-size: 10px;
  }
  .order {
    font-size: 4.5rem;
    height: 10.5rem;
    margin: 1rem auto;
    font-size: 4.5rem;
  }
}

@media (min-height: 1100px) {
  .extra-wrapper, aside.levels {
    height: 100vh;
  }
  .show-box .table {
    background-image: url('../assets/imgs/table.png');
    height: 44rem;
  }
  .show-box {
    height: 43.5rem;
  }
}


@keyframes dance {
  0% {
    transform: skew(0deg) scale(1);
  }
  25% {
    transform: skew(-5deg) scale(1.1);
  }
  50% {
    transform: skew(0deg) scale(1);
  }
  75% {
    transform: skew(5deg) scale(1.1);
  }
  100% {
    transform: skew(0deg) scale(1);
  }
}

@keyframes strobe {
  0% {
    background-color: $editor-lightest;
  }

  50% {
    background-color: rgba(142, 221, 252, 0.55);
  }

  100% {
    background-color: $editor-lightest;
  }
}

@keyframes flyAway {
  0% {
    transform: scale(1) translateY(0);
  }

  50% {
    transform: scale(0.5) translateY(-30rem);
  }

  100% {
    transform: scale(0) translateY(-80rem);
  }
}

@keyframes wrong {
  0% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
  25% {
    transform: skew(-0.5deg);
    background-color: red;
    outline: 3px solid #efefef;
  }
  50% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
  75% {
    transform: skew(0.5deg);
    background-color: red;
    outline: 3px solid #efefef;
  }
  100% {
    transform: skew(0deg);
    background-color: #efefef;
    outline: 3px solid rgba(255, 0, 0, 0.719);
  }
}

@keyframes gradient {
  0% {
    background: rgb(255, 115, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  25% {
    background: rgb(132, 248, 78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background: rgba(135, 207, 235, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  75% {
    background: rgb(253, 123, 242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: rgb(255, 115, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes skewBg {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
